# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdf

# Virtual environment
venv/
.venv/

# macOS
.DS_Store

# Compiled files
*.pyc
*.spec

# IDE files
.vscode/
.idea/

# Build
build/
dist/
